.Dictionary section {
    background:white ;
    padding: 30px;
    border-radius:6px;
    box-shadow: 0 10px 10px rgb(0 0 0/10%);
    margin: 20px 0;
}

.Dictionary input {
    width: 60%;
    border-radius: 6px;
    padding: 6px;

}

p.instructions{
    font-size: 18px;
}