body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 100px ;
    padding-right: 100px;
    padding-top:100px;
    text-align: center;
    line-height: 30px;
    background: linear-gradient(220deg, rgb(238, 142, 230) 13.2%, rgb(167, 229, 243) 65%)}

               



